Flask
gunicorn
pandas
numpy
plotly
seaborn
pymongo
asttokens
blinker
click
colorama
comm
contourpy
cycler
debugpy
decorator
dnspython
executing
Flask
fonttools
ipykernel
ipython
ipython_pygments_lexers
itsdangerous
jedi
Jinja2
jupyter_client
jupyter_core
kiwisolver
MarkupSafe
matplotlib
matplotlib-inline
nest-asyncio
numpy
packaging
pandas
parso
pillow
platformdirs
prompt_toolkit
psutil
pure_eval
Pygments
pymongo
pyparsing
python-dateutil
pytz
pywin32
pyzmq
seaborn
six
stack-data
tornado
traitlets
tzdata
wcwidth
Werkzeug
flask
gunicorn
scikit-learn
matplotlib
